body form {
    margin: 30px auto;
    width: 500px;
    background-color: rgba(189, 189, 236, 0.562);
    padding: 10px;
    border-radius: 10px;
}

body {
    background-image: url('https://i.ytimg.com/vi/x8mpMSw6Wy4/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}